### Semantic Search for E-Commerce Businesses
#### Data Analysis and Processing for the Amazon ESCI Dataset

In [1]:
import pandas as pd

In [7]:
df = pd.read_json("data/sample.json", lines=True)

In [9]:
df.head(2)

,type,locale,asin,title,stars,ratings,category,attrs,bullets,description,...,reviews,price,formats,template,subtitle,author,desc,attr,review,error
0,product,jp,B083TX3PNH,[コロンブス] 水のいらない汚れ落とし スニーカーケアスプレーフォームシャンプー メンズ,3.7 out of 5 stars,220 ratings,"[Clothing, Shoes & Jewelry, Shoe, Jewelry & Wa...",{},"[Date First Available ‏ : ‎ February 17, 2020,...",From the Manufacturer,...,"[{'stars': '4.0 out of 5 stars', 'title': 'Nic...",,{},shoes,NaN,NaN,NaN,NaN,NaN,NaN
1,product,us,B07C1NJF6T,Rekayla Open Toe Tie Up Ankle Wrap Flat Sandal...,4.2 out of 5 stars,"5,656 ratings","[Clothing, Shoes & Jewelry, Women, Shoes, Sand...",{},[],From the brand Previous page REKAYLA is a fres...,...,"[{'stars': '4.0 out of 5 stars', 'title': 'Fin...",,{},shoes,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
print("---Dataset Overview---")
print(df.info())

---Dataset Overview---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         4487 non-null   object
 1   locale       4487 non-null   object
 2   asin         4487 non-null   object
 3   title        4321 non-null   object
 4   stars        4321 non-null   object
 5   ratings      4321 non-null   object
 6   category     4321 non-null   object
 7   attrs        4015 non-null   object
 8   bullets      4015 non-null   object
 9   description  4015 non-null   object
 10  info         4015 non-null   object
 11  reviews      4321 non-null   object
 12  price        4321 non-null   object
 13  formats      4321 non-null   object
 14  template     4487 non-null   object
 15  subtitle     306 non-null    object
 16  author       306 non-null    object
 17  desc         306 non-null    object
 18  attr         306 non-null    object
 19  review       306 non-null    object
 20  error        166 non-null    object
dtypes: object(21)
memory usage: 736.3+ KB
None

In [13]:
print("---Product Type Distribution---")
print(df["type"].value_counts())

---Product Type Distribution---
type
product    4015
book        306
error       166
Name: count, dtype: int64

In [14]:
print("---Locale Distribution---")
print(df["locale"].value_counts())

---Locale Distribution---
locale
us    3010
jp     838
es     639
Name: count, dtype: int64

In [31]:
type(df["type"])
df["type"].unique()

array(['product', 'book', 'error'], dtype=object)

In [20]:
def

'220 ratings'