### Semantic Search for E-Commerce Businesses
#### Data Analysis and Processing for the Amazon ESCI Dataset

In [1]:
import pandas as pd
from superlinked_app.data_processing import process_dataset

In [2]:
df = pd.read_json("data/sample.json", lines=True)

In [3]:
df.head(2)

,type,locale,asin,title,stars,ratings,category,attrs,bullets,description,...,reviews,price,formats,template,subtitle,author,desc,attr,review,error
0,product,jp,B083TX3PNH,[コロンブス] 水のいらない汚れ落とし スニーカーケアスプレーフォームシャンプー メンズ,3.7 out of 5 stars,220 ratings,"[Clothing, Shoes & Jewelry, Shoe, Jewelry & Wa...",{},"[Date First Available ‏ : ‎ February 17, 2020,...",From the Manufacturer,...,"[{'stars': '4.0 out of 5 stars', 'title': 'Nic...",,{},shoes,NaN,NaN,NaN,NaN,NaN,NaN
1,product,us,B07C1NJF6T,Rekayla Open Toe Tie Up Ankle Wrap Flat Sandal...,4.2 out of 5 stars,"5,656 ratings","[Clothing, Shoes & Jewelry, Women, Shoes, Sand...",{},[],From the brand Previous page REKAYLA is a fres...,...,"[{'stars': '4.0 out of 5 stars', 'title': 'Fin...",,{},shoes,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print("---Dataset Overview---")
print(df.info())

---Dataset Overview---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         4487 non-null   object
 1   locale       4487 non-null   object
 2   asin         4487 non-null   object
 3   title        4321 non-null   object
 4   stars        4321 non-null   object
 5   ratings      4321 non-null   object
 6   category     4321 non-null   object
 7   attrs        4015 non-null   object
 8   bullets      4015 non-null   object
 9   description  4015 non-null   object
 10  info         4015 non-null   object
 11  reviews      4321 non-null   object
 12  price        4321 non-null   object
 13  formats      4321 non-null   object
 14  template     4487 non-null   object
 15  subtitle     306 non-null    object
 16  author       306 non-null    object
 17  desc         306 non-null    object
 18  attr         306 non-null    object
 19  review       306 non-null    object
 20  error        166 non-null    object
dtypes: object(21)
memory usage: 736.3+ KB
None

In [5]:
print("---Product Type Distribution---")
print(df["type"].value_counts())

---Product Type Distribution---
type
product    4015
book        306
error       166
Name: count, dtype: int64

In [6]:
print("---Locale Distribution---")
print(df["locale"].value_counts())

---Locale Distribution---
locale
us    3010
jp     838
es     639
Name: count, dtype: int64

In [7]:
type(df["type"])
df["type"].unique()

array(['product', 'book', 'error'], dtype=object)

In [8]:
processed_df = process_dataset(df)

In [9]:
processed_df.head()

,asin,type,category,title,description,stars,ratings,price,review_count,review_ratings
0,B07WP4RXHY,product,"['Tools & Home Improvement', 'Power & Hand Too...",YUEPIN U-Tube Clamp 304 Stainless Steel Hose P...,Product Description Specification: Material: 3...,4.7 out of 5 stars,54 ratings,9.99,54,4.7
1,B07VRZTK2N,product,[],"Apron for Women, Waterproof Adjustable Bib Coo...",,4.0 out of 5 stars,152 ratings,11.99,152,4.0
2,B07V2F5SN1,product,"['Arts, Crafts & Sewing', 'Painting, Drawing &...",DIY 5D Diamond Painting by Number Kit for Adul...,Product Description 5D DIY Diamond Painting is...,4.6 out of 5 stars,378 ratings,9.99,378,4.6
3,B00MNLQQ7K,product,"['Patio, Lawn & Garden', 'Outdoor Décor', 'Gar...","Design Toscano QM2787100 Darby, the Forest Faw...",,4.7 out of 5 stars,274 ratings,40.72,274,4.7
4,B089YD2KK5,product,"['Clothing, Shoes & Jewelry', 'Shoe, Jewelry &...",Crocs Jibbitz 5-Pack Alien Shoe Charms | Jibbi...,From the brand Previous page Shop Crocs Collec...,4.7 out of 5 stars,"1,105 ratings",9.99,1105,4.7

In [12]:
#processed_df["category"].unique()
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   asin            850 non-null    object
 1   type            850 non-null    object
 2   category        850 non-null    object
 3   title           850 non-null    object
 4   description     850 non-null    object
 5   stars           850 non-null    object
 6   ratings         850 non-null    object
 7   price           850 non-null    float64
 8   review_count    850 non-null    int64
 9   review_ratings  850 non-null    float64
dtypes: float64(2), int64(1), object(7)
memory usage: 66.5+ KB

In [13]:
processed_df.describe()

            price   review_count  review_ratings
count  850.000000     850.000000      850.000000
mean    41.908800    3420.264706        4.464941
std     69.015895   10160.084090        0.378944
min      0.940000       0.000000       -1.000000
25%     12.990000     202.250000        4.300000
50%     19.990000     690.000000        4.500000
75%     36.990000    2519.000000        4.700000
max    825.000000  137447.000000        5.000000